{% extends 'base_generic.html' %}

{% block content %}
  <h2>{{ discussion.title }}</h2>
  <p>{{ discussion.content }}</p>
  <p>Created at: {{ discussion.created_at }}</p>
  <p>Author: {{ discussion.author.username }}</p>

  <h3>Comments</h3>
  <div id="comments-container">
    {% for comment in comments %}
      <p>{{ comment.content }} - {{ comment.author.username }} - {{ comment.created_at }}</p>
    {% endfor %}
  </div>

  <!-- Add a form for adding comments -->
  <form method="post" action="{% url 'add_comment' discussion.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit Comment</button>
</form>

  
{% endblock %}
